.full_page {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.img_ipl {
    width: 100%;
    /* margin-left: 14rem; */
    /* margin-top: 3rem; */
    height: auto;
}

.ipl_text {
    font: Bold 55px/120px Poppins;
    letter-spacing: 0;
    color: #414042;
    opacity: 1;
    text-align: center;
}

.ipl-content {
    margin-bottom: 1rem;
}

.content_text {
    font: Bold 16px/30px Poppins;
    color: #2F30A8;
    opacity: 0.8;
    padding-left: 78px;
    padding-right: 68px;
}

.info_img {
    float: left;
    width: 25%;
    margin-left: -1rem;
}

.btn_learn {
    background-color: #F9DFD5;
    width: 13rem;
    height: 3rem;
    float: left;
    /* margin-top: 1rem; */
    outline: none;
    border: none;
    border-radius: 2rem;
}

.btn_idea {
    background-color: #F9DFD5;
    width: 13rem;
    height: 3rem;
    /* margin-top: 1rem; */
    outline: none;
    border: none;
    border-radius: 2rem;
}

.btn-default {
    background: #5557F0;
    color: white;
    border-radius: 15px;
    margin-right: 2rem;
}

.btn_track {
    background-color: #F9DFD5;
    width: 15rem;
    height: 3rem;
    float: right;
    /* margin-top: 1rem; */
    outline: none;
    border: none;
    border-radius: 2rem;
}

.alpha {
    list-style-type: lower-alpha;
}

.close {
    margin-right: 1rem;
    /* margin-left: -13rem; */
    margin-top: 1px;
}

.submit_text {
    font: Bold 15px/30px Poppins;
    letter-spacing: 0;
    color: #414042;
    font-size: 16px;
    padding: 10px 0px 0px 0px;
}

.fa-arrow-right {
    padding-left: 10px;
}

.track_img {
    float: right;
    width: 8%;
    /* padding: 4px 0px 1px -5px; */
    margin-top: 3%;
}

.modal-dialog .modal-content {
    width: 45rem;
    margin-left: -6rem;
    border: 0;
    height: -webkit-fill-available;
    border-radius: 55px;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.modal-body {
    overflow-y: scroll;
}


/* media queries */

@media(max-width:767px) {
    .ipl_text {
        font-size: 1rem;
    }
}