<div class="container-fluid full_page">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <img class="img_ipl" src="assets/IPLbanner.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>


    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 ipl_text">
            Innovation Premier League
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>

    <div class="row ipl-content">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 content_text">
            Have you had an idea that you have been wanting to drive? Join the Innovation Premier League! The Innovation Premier League is a platform through which teams can drive innovation. An end-to-end innovation initiative for SLK and VFI SLK. </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 ">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">

                    <button class="btn_learn" type="submit" data-toggle="modal" data-target="#myModal"><img class="info_img" src="assets/information.png"><p class="submit_text">Learn More</p></button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button id="button" class="btn_idea" type="submit"><p class="submit_text">Submit your idea<i class="fa fa-arrow-right" ></i></p></button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button id="button2" class="btn_track" type="submit"><p class="submit_text">Track your Submission<img class="track_img" src="assets/Icon material-track-changes.png">
                </p></button>

                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Learn more about the Program</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <h4>1. What is Innovation Premier League (IPL)?</h4>
                <p>IPL is a platform, through which we are attempting to build & foster a pervasive culture of innovation with in SLK,whereby all the employees can contribute towards SLK’s vision of being the Automation Company</p>
                <br>
                <h4>2. Who can participate in IPL?</h4>
                <p>Any employee of SLK, VFI SLK across all departments (Technical Teams, Client Project Teams, teams from Support/Enabling Functions etc.) can participate in the IPL.</p>
                <br>
                <h4>3. What are the Time Lines & Milestones for IPL?</h4>
                <p>This event spans across 5 months. It is commencing on the 26th of February 2020. It will culminate in a grand finale with the top teams competing in the final round being played out on the 24th of July, 2020.</p>
                <br>
                <p>The milestones for the same are as below:</p>
                <ul>
                    <li>26th Feb 2020 – Town Hall - Launch Event</li>
                    <li>??? - Start Date for Submission of Ideas</li>
                    <li>23rd March 2020 - Last Data of Submission of Ideas</li>
                    <li>09th April 2020 – Last date of Short Listing of Team</li>
                    <li>16th April 2020 - Introduction to Design Thinking</li>
                    <li>18th – 19th April 2020 – Design Thinking Workshop</li>
                    <li>May 9th & 10 - Hackathon</li>
                    <li>24th July 2020 - Finals</li>

                </ul>
                <br>
                <h4>4. How do we submit our Ideas?</h4>
                <p>The ideas can be submitted through this online Innovation Portal: You can also submit the ideas directly to Innovation Champions through email (this will create confusion and will be difficult to track the ideas. Also ideas will not be
                    submitted in the standard and expected format)</p>
                <br>
                <h4>5. What is the evaluation criteria for the program?</h4>
                <br>
                <p>The Evaluation criteria will include</p>
                <ol class="alpha">
                    <li>Novelty of the idea,</li>
                    <li>complexity, clarity and details in the prescribed format</li>
                    <li>Feasibility, practicability, sustainability, scale of impact, user experience</li>
                    <li>Potential for future work progression.</li>
                </ol>
                <br>
                <h4>6. What are the Innovation Themes for IPL 2020?</h4>
                <h4>The following are the themes for IPL 2020:</h4>
                <ul>
                    <li>Hyper Automation</li>
                    <li>Fast-Track Time to Value (Accelerators)</li>
                    <li>Employee Experience Transformation</li>
                    <li>Disruptive tech-led business model</li>
                </ul>
                <br>
                <h4>7. Can I still apply if my innovation does not fall under the listed focus areas?</h4>
                <br>
                <p>We encourage applicants to choose the focus areas under which their innovation most fits. However, if the innovation does not fit in the listed focus areas, applicants can choose the “others” category to apply. The evaluation panel will
                    check on the practicality and use of the idea to shortlist the ideas?</p>
                <h4>8. Do we need to have the entire idea completely working for final evaluation?</h4>
                <br>
                <p>The entire idea need not be completely/wholly implemented, however, you may have to develop a working MPV for it to be reviewed by the judges.</p>
                <h4>9. Can one team register multiple Innovation Ideas?</h4>
                <br>
                <p>Yes one team can submit multiple ideas provided these ideas fit into one of the themes / subthemes</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Got It</button>
            </div>
        </div>

    </div>
</div>