<div class="container-fluid full_page">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <img class="img_ipl" src="../../assets/IPLbanner.png">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>


    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 ipl_text">
            Innovation Premier League
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>

    <div class="row ipl-content">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 content_text">
            The Innovation Premier League is a platform through which teams can drive innovation. An end-to-end innovation initiative for SLK and VFI SLK. Have you had an idea that you have been wanting to drive? Join the Innovation Premier League!
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>

    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 ">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">

                    <button class="btn_learn" type="submit"><img class="info_img" src="../../assets/information.png"><p class="submit_text">Learn More</p></button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button id="button" class="btn_idea" type="submit"><p class="submit_text">Submit your idea<i class="fa fa-arrow-right" ></i></p></button>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <button id="button2" class="btn_track" type="submit"><p class="submit_text">Track your Submission<i class="fa fa-bullseye" aria-hidden="true"></i>
                </p></button>

                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
</div>