
<div class="container-fluid">
    <div style="width:100%;">
        <img src="../../assets/innovation.png" style="max-width:100%; height: 650px; " />
     </div>
     <div class="inputBox">
         <p>{{message}}</p>
            <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit()" style="justify-content: center;">
           <div style="text-align: center;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
           </div>
            <div class="center">
                <button type="submit" class="btn btn-amber mb-2">IPL</button>
            </div>
           
        </form>
        <div class="center">
            <button class="btn btn-amber mb-2" (click)="logout()">Logout</button>
        </div>
    </div>
</div>