

  <!-- Steps form -->
  <div class="container-fluid">
    <nav class="navbar navbar-light ">
        <a class="navbar-brand" href="#">Innovation Premier League</a>
      </nav>
<div class="card">
    <div class="card-body mb-4"> 
      <!-- Stepper -->
      <div class="steps-form">
        <div class="steps-row setup-panel">
          <div class="steps-step">
            <a href="#step-9" type="button" class="btn btn-amber btn-circle">1</a>
            <p>Step 1</p>
          </div>
          <div class="steps-step">
            <a href="#step-10" type="button" class="btn btn-purple btn-circle" disabled="disabled">2</a>
            <p>Step 2 </p>
          </div>
          <div class="steps-step">
            <a href="#step-11" type="button" class="btn btn-purple btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
          </div>
          <div class="steps-step">
            <a href="#step-12" type="button" class="btn btn-purple btn-circle" disabled="disabled">4</a>
            <p>Step 4</p>
          </div>
          <div class="steps-step">
            <a href="#step-13" type="button" class="btn btn-purple btn-circle" disabled="disabled">5</a>
            <p>Step 5</p>
          </div>
          <div class="steps-step">
            <a href="#step-14" type="button" class="btn btn-purple btn-circle" disabled="disabled">6</a>
            <p>Step 6</p>
          </div>
        </div>
      </div>
  
      <form role="form" action="" method="post">
  
        <!-- First Step -->
        <div class="row setup-content" id="step-9">
          <div class="col-md-12" style="margin-top: 5%;">

            <button type="button" class="btn btn-purple">Theme One</button>
            <button type="button" class="btn btn-purple">Theme Two</button>
            <button type="button" class="btn btn-purple">Theme Three</button>
            <button type="button" class="btn btn-purple">Theme Four</button>
            <button class="btn btn-amber btn-rounded nextBtn float-right" type="button">Next</button>
          </div>
        </div>
  
        <!-- Second Step -->
        <div class="row setup-content" id="step-10">
          <div class="col-md-12" style="margin-top: 5%;">
           
            <div class="form-group md-form">
              <label for="companyName" data-error="wrong" data-success="right">Enter Team Name</label>
              <input id="companyName" type="text" required="required" class="form-control validate">
            </div>
            <div class="form-group md-form mt-3">
              <label for="companyAddress" data-error="wrong" data-success="right">Enter Innovation Idea</label>
              <input id="companyAddress" type="text" required="required" class="form-control validate">
            </div>
            <div class="form-group md-form mt-3">
                <input id="companyAddress" type="file" required="required" class="form-control validate">
              </div>
            <button class="btn btn-amber btn-rounded prevBtn float-left" type="button">Previous</button>
            <button class="btn btn-amber btn-rounded nextBtn float-right" type="button">Next</button>
          </div>
        </div>

         <!-- Second Step -->
         <div class="row setup-content" id="step-11">
            <div class="col-md-12" style="margin-top: 5%;">
              
              <div class="form-group md-form">
                <label for="companyName" data-error="wrong" data-success="right">Company Name</label>
                <input id="companyName" type="text" required="required" class="form-control validate">
              </div>
              
              <button class="btn btn-amber btn-rounded prevBtn float-left" type="button">Previous</button>
              <button class="btn btn-amber btn-rounded nextBtn float-right" type="button">Next</button>
            </div>
          </div>

           <!-- Second Step -->
        <div class="row setup-content" id="step-12">
            <div class="col-md-12" style="margin-top: 5%;">
              
              <div class="form-group md-form">
                <label for="companyName" data-error="wrong" data-success="right">Company Name</label>
                <input id="companyName" type="text" required="required" class="form-control validate">
              </div>
              <div class="form-group md-form mt-3">
                <label for="companyAddress" data-error="wrong" data-success="right">Company Address</label>
                <input id="companyAddress" type="text" required="required" class="form-control validate">
              </div>
              <button class="btn btn-amber btn-rounded prevBtn float-left" type="button">Previous</button>
              <button class="btn btn-amber btn-rounded nextBtn float-right" type="button">Next</button>
            </div>
          </div>


           <!-- Second Step -->
        <div class="row setup-content" id="step-13">
            <div class="col-md-12" style="margin-top: 5%;">
              
              <div class="form-group md-form">
                <label for="companyName" data-error="wrong" data-success="right">Company Name</label>
                <input id="companyName" type="text" required="required" class="form-control validate">
              </div>
              <div class="form-group md-form mt-3">
                <label for="companyAddress" data-error="wrong" data-success="right">Company Address</label>
                <input id="companyAddress" type="text" required="required" class="form-control validate">
              </div>
              <button class="btn btn-amber btn-rounded prevBtn float-left" type="button">Previous</button>
              <button class="btn btn-amber btn-rounded nextBtn float-right" type="button">Next</button>
            </div>
          </div>
  
        <!-- Third Step -->
        <div class="row setup-content" id="step-14">
          <div class="col-md-12" style="margin-top: 5%;">
            
            <button class="btn btn-amber btn-rounded prevBtn float-left" type="button">Previous</button>
            <button class="btn btn-purple btn-rounded float-right" type="submit">Submit</button>
          </div>
        </div>
  
      </form>
  
    </div>
  </div>
</div>
  <!-- Steps form -->